<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <img src="assets/imgs/edit.png" class='edit' *ngIf="is_disabled" (click)="edit()">
    <img src="assets/imgs/correct_1.png" class='edit' *ngIf="!is_disabled" (click)="edit()">
    <div class="user_image" [style.backgroundImage]="'url(assets/imgs/user.jpg)'"></div>
    <ion-label class="username">Jonh Doe</ion-label>

    <div class="form_div">
      <ion-input type="text" placeholder="First Name" value="Jonh" [disabled]="is_disabled"></ion-input>
      <ion-input type="text" placeholder="Last Name" value="Doe" [disabled]="is_disabled"></ion-input>
      <ion-input type="text" placeholder="Mobile" value="9876543212" [disabled]="is_disabled"></ion-input>
      <ion-input type="text" placeholder="Email ID" value="jonh@gmail.com" [disabled]="is_disabled"></ion-input>
      <ion-textarea class="address" rows="5" value="Bhavnagar" [disabled]="is_disabled"></ion-textarea>
    </div>
  </div>
</ion-content>
